body{
    background-color:gray;
    margin: 0%;
}

/* Upper Box Decoration */

.head{
    border: 8px solid red;
    border-radius: 25px;
    height: 165px;
    width: 400px;
    box-sizing: border-box;
    box-shadow: 8px 8px 1px rgb(129, 4, 129);
    margin-left: calc((100vw - 400px)/2);
    margin-top: 50px;
    background-color: white;
    color: rgb(180, 18, 18);
    text-shadow: 2px 2px 2px rebeccapurple;
    text-align: center;
}

/* Middle Section */

.main{
    border: 10px solid green;
    margin: 5px;
    display: flex;
    flex-direction: column;
    
    /* align-items: flex-start; */
    /* justify-content: space-between; */
}

.same{
    height: 250px;
    width: 250px;
    border: 8px solid red;
    border-radius: 20px;
    background-color: white;
    box-shadow: 8px 8px 1px rgb(129, 4, 129);
    box-sizing: border-box;
    text-align: center;
    font-size: medium;
    text-shadow: 2px 2px 2px rebeccapurple;
    justify-content: space-between;

}
img{
    height: 130px;
    width: 200px;
    margin-top: 55px;
}
#box2{
    position: relative;
    left: 1000px;
    bottom: 250px;
   
}
#box3{
    position: relative;
    top: 210px;
}
#box4{
    position: relative;
    left: 1000px;
    top: -40px;
}
input[type="number"]::placeholder {
    text-align: center;
}

#submit{
    background-color: rgb(125, 197, 238);
    border-radius: 25px;
}




/* Lower Section Starts form here */

.bottom{
    border: 7px solid rgb(222, 47, 222);
    background-color: rgb(16, 102, 16);
    height: 600px;
    width: 850px;
    position: relative;
    top: 27px;
    left: 230px;
}

.a{
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
}

.box5{
    background-color: rgb(236, 236, 160);
    height: 200px;
    width: 400px;
    margin-top: 30px;
    margin-left: 10px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 10px;
    font-size: 15px;
    border: 1px solid rgb(51, 4, 4);
}

.b{
    font-size: 27px;
}

.box6{
    background-color: rgb(236, 236, 160);
    height: 200px;
    width: 400px;
    position: relative;
    bottom: 235px;
    margin-left: 430px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 10px;
    font-size: 15px;
    border: 1px solid rgb(51, 4, 4);
}

.box7{
    background-color: rgb(236, 236, 160);
    height: 200px;
    width: 820px;
    position: relative;
    bottom: 210px;
    margin-left: 10px;
    padding-top: 25px;
    text-align: center;
    padding-bottom: 20px;
    border: 1px solid rgb(51, 4, 4);
}

.box8{
    border: 8px solid red;
    border-radius: 20px;
    background-color: greenyellow;
    height: 80px;
    width: 500px;
    color: maroon;
    position: fixed;
    top: 500px;
    left: 410px;
    box-shadow: 8px 6px 4px rgb(217, 3, 236);
}

.c{
    font-size: 25px;
    float: left;
    position: relative;
    top: 10px;
    margin-left: 35px;
    text-align: center;
}

.d{
    font-size: 20px;
    float: right;
    position: relative;
    top: 15px;
    margin-right: 35px;
    text-align: center;
}